.boder01 {
  background-color: #03ac1333;
  border-radius: 8px;
  margin-left: 10px;
  height: 60px;
}

.text01 {
  color: #333333;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 12px;
}

.text02 {
  color: #234f1e;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  text-decoration: none;
}